<div class="body">
    <div>
        <label>Select your preferred language:</label>
            <select [(ngModel)]="selectedLanguage">
                <option *ngFor="let x of supportedLanguages;" [value]="x">{{x}}</option>
            </select>
    </div>
    <div>
        <label>Select your proficiency in English:</label>
        <select [(ngModel)]="selectedProficiency">
            <option *ngFor="let x of proficiencyLevels;" [value]="x">{{x}}</option>
        </select>
    </div>
    <div>
        <button (click)="save()">Save</button>
    </div>


</div>

