<div>
    <label>Select your preferred language:</label>
    <div>
        <select [(ngModel)]="selectedLanguage">
            <option *ngFor="let x of supportedLanguages;" [value]="x">{{x}}</option>
        </select>
    </div>
</div>

<div>
    <label>Select your proficiency in English from 0 to 100:</label>
    <div>
        <input type="range" min="0" max="100" value="0" [(ngModel)]="proficiencyLvl" class="slider" id="myRange">
    </div>
    <p>{{proficiencyLvl}}</p>
</div>
<button (click)="save()">Save</button>