.body{
	margin: auto;
	font-family: 'Arial';
	border: 3px solid #4050b5;
	padding: 10px;
	font-size: 20px;
	div{
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}

	.proficiencyLvl{
		color: #4050b5;
	}
	input[type=checkbox] {
		transform: scale(1.5);
	}
	button{
		margin-top: -20px;
	}
	select{
		width: 200px;
	}
}