
.search-container{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  input{

    height: 40px;
    width: 300px;
    border-radius: 10px;
  }
  button{
    margin-left: 10px;
    height: 45px;
    width: 45px;
  }
}

.split {
  height: 90vh;
  width: 50%;
  position: absolute;
  z-index: 1;
  overflow-x: hidden;
  margin-top: 40px;
}
/* Control the left side */
.searchResults {
  left: 0;
  margin-right: 20px;
}

/* Control the right side */
.srchResExplanation {
  right: 0;
  background-color: whitesmoke;
  border-left: 5px solid rgb(69, 69, 69);
  margin-left: 10px;
}
